ErrorDocument 403 /403.html
Options All -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L]
SetEnv downgrade-1.0
php_value opcache.enable 0